.footer__column-link
{
  color: #f2f2f2;
  text-decoration: none;
  line-height: 16px;
  font-size: 16px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.footer__column-link:hover
{
  opacity: 0.3;
  transition: linear;
}
