html
{
  line-height: 1.15;
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border: red 1px solid;
  position: relative;

  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  overflow: hidden;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotation linear 20s infinite;
}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place-header
{
  position: absolute;
  background-image: url("../images/logo_place_header.svg");
  border: purple 1px solid;
  width: 183px;
  height: 32px;
  left: 64px;
  top: 30px;
  background-repeat: no-repeat;

}

.header__sub_tatle
{
  width: 730px;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
  margin-left: 64px;
  border: red 1px solid;
  position: absolute;
}
.header__link
{
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .2s linear;
  cursor: pointer;
}
.header__title
{
  position: relative;
  width: 730px;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
  margin-left: 64px;
  border: red 1px solid;
}
.header__subtitle
{
  position: absolute;
  width: 338px;
  margin-bottom: 30px;
  margin-left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  border: red 1px solid;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.header__main-illustration
{
  position: absolute;
  background-size: cover;
  border: darkgreen 2px solid;
  background-image: url("../images/header-image.png");
  width: 765px;
  height: 608px;
  display: flex;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.description
{
  margin-top: 100px;
  margin-bottom: 100px;
}
.two_coloms
{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: blue 1px solid;

}

.two-columns__main-text
{
  width: 80%;
  max-width: 784px;
}

.two-columns__brief
{
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: .3em 1em 0 0;
}

.two-columns__paragraph
{
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent
{
  font-weight: 700;

}

.technics
{
  min-width: 784px;
  width: 80%;
  margin: auto 0;
  font-size: 24px;
}

.section-title
{
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle
{
  padding-top: 20px;
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: purple 1px solid;
}



.class__item
{
  width: 8em;

}



.cards__description {
  margin: 16px 0 0;
  line-height: 23px;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
}

.cards
{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  border: orange 4px solid;
}

.cards__title
{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__image_attention
{
}

.cards__image
{
  display: block;
  border-radius: 50%;
  margin: auto;
  width: 160px;
  height: 160px;
}


.cards__item
{
  border: #2f80ed 1px solid;
  width: 240px;
  margin: 60px 40px 40px 43px;
}
.cards__title

{
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.cards__description
{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.digits
{
  margin-top: 100px;
  margin-bottom: 100px;
}

.table
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1110px;
  border: red 1px solid;
  margin: 0 auto;
}

.table_cell
{
  width: 250px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: blue 1px solid;
}

.table__heading
{
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
}

.table__text
{
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.kaufman
{
  background-color: #1f1f1f;
  margin: 90px auto auto 90px;
}

.section-title_theme-dark
{
  color: #fff;
  z-index: 1;
  position: relative;
}
.section-subtitle_theme-dark
{
  color: #fff;
  position: relative;
  z-index: 1;
}

.table__heading_theme_dark
{
  color: #fff;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark{
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.resources
{
  margin-top: 100px;
}

.resources__logo-zone
{
  width: 1100px;
  display: flex;
  margin: 80px auto 217px;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.resources_logo
{
  width: 270px;
  height: 38px;
  background: center no-repeat;
}

.resources__logo_academy
{
  background-image: url("../images/logo/resources-arzamas.svg");
}

.resources__logo_n1
{
  background-image: url("../images/logo/resources-n1.svg");
}

.resources__logo_strelka
{
  background-image: url("../images/logo/resources-strelka.svg");
}

.resources__logo_polka
{
  background-image: url("../images/logo/resources-polka.svg");
}

.footer
{
  font-size: 24px;
  background-color: #1F1F1F;
  min-height: 14.5em;
  color: #f2f2f2;
  box-sizing: border-box;
  padding: 2.5em 0 1.3em;
}

.footer__columns
{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column
{
  min-height: 10.5em;
}

.footer__column_content_copyright
{
  flex-basis: 29em;
  position: relative;
}

.logo_footer
{
  width: 10em;
  height: 1.45em;
  background-image: url("../images/logo_place_footer.svg");
  background-repeat: no-repeat;
}


.footer_author
{
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  color: #f2f2f2;
}

.footer__columns_info
{
  display: flex;
}

.footer__column-links
{
  padding: 0;
  line-height: 18px;
  font-size: 18px;
  cursor: pointer;
}
.footer__list-item
{
  display: block;
}

.footer__link
{
  padding-top: 20px;
  padding-bottom: 16px;
  color: #f2f2f2;
  text-decoration: none;
  line-height: 16px;
  font-size: 16px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: bold;
}

.footer__column_content_info
{
  margin-right: 1em;
}

.footer__social-icon
{
  margin-right: .4em;
}

.footer__column_content_social
{
  line-height: 18px;
  font-size: 18px;
}
