/*Стили для блока header*/
@import url("../blocks/header/header.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__sub/header__sub_title.css");
@import url("../blocks/header/__subtitle/header__subtitle.css");
@import url("../blocks/header/__title/header__title.css");
@import url("../blocks/header/__main/header__main-illustration.css");
@import url("../blocks/header/__square/header__square-pic.css");
@import url("../blocks/logo/logo_place-header/logo_place-header.css");


/*Стили для блока resources*/
@import url("../blocks/content/section/section-subtitle/section-subtitle.css");
@import url("../blocks/content/section/section-title/section-title.css");
@import url("../blocks/content/resources/resources.css");
@import url("../blocks/content/resources/__logo/resources__logo-zone.css");
@import url("../blocks/content/resources/__logo/_academy/resources__logo_academy.css");
@import url("../blocks/content/resources/__logo/_n1/resources__logo_n1.css");
@import url("../blocks/content/resources/__logo/_polka/resources__logo_polka.css");
@import url("../blocks/content/resources/__logo/_strelka/resources__logo_strelka.css");
@import url("../blocks/content/resources/__logo/_academy/resources__logo_academy.css");
@import url("../blocks/content/resources/__logo/_academy/resources__logo_academy.css");


/*Стили для блока footer*/
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__coloumn/footer__coloumn.css");
@import url("../blocks/footer/__coloumn/footer__coloumn-heading.css");
@import url("../blocks/footer/__coloumn/_content/_copyright/footer__column_content_copyright.css");
@import url("../blocks/footer/__coloumn/_content/_social/footer__column_content_social.css");
@import url("../blocks/footer/__coloumns/footer__column-links.css");
@import url("../blocks/footer/__coloumns/footer__columns.css");
@import url("../blocks/footer/__coloumns/_info/footer__coloumns_info.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__list/footer__list-item.css");
@import url("../blocks/footer/__social/footer__social-icon.css");
@import url("../blocks/logo/logo_footer/logo_footer.css");
@import url("../blocks/logo/logo_place-header/logo_place-header.css");








html
{
  line-height: 1.15;
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}




/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.description
{
  margin-top: 100px;
  margin-bottom: 100px;
}
.two_coloms
{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: blue 1px solid;

}

.two-columns__main-text
{
  width: 80%;
  max-width: 784px;
}

.two-columns__brief
{
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: .3em 1em 0 0;
}

.two-columns__paragraph
{
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent
{
  font-weight: 700;

}

.technics
{
  min-width: 784px;
  width: 80%;
  margin: auto 0;
  font-size: 24px;
}



.class__item
{
  width: 8em;

}



.cards__description {
  margin: 16px 0 0;
  line-height: 23px;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
}

.cards
{
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
}

.cards__title
{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__image_attention
{
}

.cards__image
{
  display: block;
  border-radius: 50%;
  margin: auto;
  width: 160px;
  height: 160px;
}

.cards__item
{
  width: 240px;
  margin: 60px 0px 50px 0px;
}

.cards__item:nth-of-type(3n+2)
{

  width: 240px;
  margin: 60px 100px 40px 100px;
}


.cards__title

{
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.cards__description
{
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.digits
{
  margin-top: 100px;
  margin-bottom: 100px;
}

.table
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1110px;
  border: red 1px solid;
  margin: 0 auto;
}

.table_cell
{
  width: 250px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: blue 1px solid;
}

.table__heading
{
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.15;
}

.table__text
{
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.kaufman
{
  background-color: #1f1f1f;
  margin: 90px auto auto 0;
  width: 1600px;
}

.section-title_theme-dark
{
  color: #fff;
  z-index: 1;
  position: relative;
}
.section-subtitle_theme-dark
{
  color: #fff;
  position: relative;
  z-index: 1;
}

.table__heading_theme_dark
{
  color: #fff;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark{
  color: #fff;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}






